<h1>Welcome!</h1>

<a href="https://trello.com/1/authorize?key=<%= process.env.GROOM_SERVICE_TRELLO_KEY %>&name=Groom Service&expiration=never&callback_method=fragment&return_url=http://localhost:3000/users/sign-in">Click Here to Sign In</a>
