<%- include ../partials/header %>

<h2>Issues</h2>
<ul>
    <% issues.forEach(function(issue) { %>
        <li>
            <a href="/issues/<%= issue.id %>"><%= issue.name %></a>
        </li>
    <% }) %>
</ul>

<%- include ../partials/footer %>
