<div style="width:500px; margin:0 auto;">
    <h2><%= issue.name %></h2>

    <ul style="margin:0;padding:0;list-style:none;">
        <% articles.forEach(function(article) { %>
            <li>
                <h3><%= article.name %></h3>
                <% article.attachments.forEach(function(attachment) { %>
                    <img src="<%= attachment.url %>" style="max-width: 100%;" />
                <% }) %>
                <p><%- article.desc %></p>
            </li>
        <% }) %>
    </ul>
</div>
